.bg-img {
  background-image: url('images/bg3.jpg');
  background-position: center;
  background-size: cover;
  height: 450px;
  color: #fff;
  text-align: center;
  padding-top: 150px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

}

.bg-color {
  background-color: yellow;
  margin-bottom: 40px;
  margin-top: 40px;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
